table {
    border-collapse: collapse;
}

table th, table td {
    padding: 8px
}

table thead {
    background: green;
    color: white;
}

table tbody tr:hover {
    background: rgb(173, 197, 161)
}