<div class="section">
    <h2>User Registration</h2>
    <div class="half left">
        <informative-input label="'Full Name'">
            <input type="text" />
        </informative-input>
        <informative-input label="'Email'">
            <input type="text" />
        </informative-input>
        <informative-input label="'City'">
            <input type="text" />
        </informative-input>
    </div>
    <div class="half right">
        <div class="right">
            <informative-input label="'Ride in group?'">
                <div class="left space-right">
                    <input type="radio" />
                    <span>Always</span>
                </div>
                <div class="left space-right">
                    <input type="radio" />
                    <span>Sometimes</span>
                </div>
                <div class="space-right">
                    <input type="radio" />
                    <span>Never</span>
                </div>
            </informative-input>
            <informative-input label="'Days of the week'">
                <input type="checkbox" />
                <span>Sun</span>
                <input type="checkbox" />
                <span>Mon</span>
                <input type="checkbox" />
                <span>Tue</span>
                <input type="checkbox" />
                <span>Wed</span>
                <input type="checkbox" />
                <span>Thu</span>
                <input type="checkbox" />
                <span>Fri</span>
                <input type="checkbox" />
                <span>Sat</span>
            </informative-input>
            <div class="right space-up content">
                <button class="btn secondary">Cancel</button>
                <button class="btn primary">Save</button>
            </div>
        </div>
    </div>
</div>