<div class="section">
    <h1>User Registration</h1>
    <div class="half left">
        <informative-input label="'Full Name'">
            <input type="text" />
        </informative-input>
        <informative-input label="'Email'">
            <input type="text" />
        </informative-input>
        <informative-input label="'City'">
            <input type="text" />
        </informative-input>
    </div>
    <div class="half right">
        <div class="right">
            <informative-input label="'Ride in group?'">
                <div class="left space-right">
                    <input type="radio" />
                    <label>Always</label>
                </div>
                <div class="left space-right">
                    <input type="radio" />
                    <label>Sometimes</label>
                </div>
                <div class="space-right">
                    <input type="radio" />
                    <label>Never</label>
                </div>
            </informative-input>
            <informative-input label="'Days of the week'">
                <input type="checkbox" />
                <label>Sun</label>
                <input type="checkbox" />
                <label>Mon</label>
                <input type="checkbox" />
                <label>Tue</label>
                <input type="checkbox" />
                <label>Wed</label>
                <input type="checkbox" />
                <label>Thu</label>
                <input type="checkbox" />
                <label>Fri</label>
                <input type="checkbox" />
                <label>Sat</label>
            </informative-input>
            <div class="right space-up content">
                <button class="btn secondary" click="alert('woking on it')">Cancel</button>
                <button class="btn primary" click="alert('still working on it :(')">Save</button>
            </div>
        </div>
    </div>
</div>