<div class="section" style="border-bottom: 1px solid">
    <div class="center">
        <nav-bar></nav-bar>
    </div>
</div>
<div class="section">
    <div class="center">
        <breadcrumb items="navigationItems"></breadcrumb>
    </div>
</div>
<div class="section contrast-background">
    <div class="center content">
        <path></path>
    </div>
</div>
<div class="section">
    <div class="center">
        <user-registration></user-registration>
    </div>
</div>
<div class="section space-down" style="border-top: 1px solid">
    <div class="center">
        <footer></footer>
    </div>
</div>