<div class="section nav">
    <div class="center">
        <nav-bar></nav-bar>
    </div>
</div>
<div class="section">
    <div class="center">
        <breadcrumb items="navigationItems"></breadcrumb>
    </div>
</div>
<div class="section contrast-background">
    <div class="center content">
        <path></path>
    </div>
</div>
<div class="section">
    <div class="center">
        <div class="section space-up">
            <help></help>
        </div>
        <div class="section space-up">
            <user-form></user-form>
        </div>
        <div class="section space-up">
            <user-list></user-list>
        </div>
    </div>
</div>