<div>
    <a repeatFor="items" 
       repeatItem="breadcrumbItem"
       click="breadcrumbItem.action()">
        <span renderIf="breadcrumbItem.fontAwsomeIcon">
            <i class="fa fa-[(breadcrumbItem.fontAwsomeIcon)]"></i>
        </span>
        <span renderIf="breadcrumbItem.description" class="[( (__index === (items.length - 1) ? 'secondary-brand-color' : '') )]">
            <small class="">[(breadcrumbItem.description)]</small>
        </span>
        <span renderIf="__index < (items.length - 1)">
            <i class="fa fa-angle-right primary-brand-color"></i>
        </span>
    </a>
</div>