<div>
    <h2>Bikers</h2>
    <table border="1" style="width:100%">
        <thead class="primary-brand-color">
            <tr>
                <th align="left">Full Name</th>
                <th align="left">Email</th>
                <th align="left">City</th>
                <th align="left">Ride in Group</th>
                <th align="left">Day of the Week</th>
                <th align="left">Registration Day</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Full Name</td>
                <td>Email</td>
                <td>City</td>
                <td>Ride in Group</td>
                <td>Day of tde Week</td>
                <td>Registration Day</td>
            </tr>
            <tr>
                <td>Full Name</td>
                <td>Email</td>
                <td>City</td>
                <td>Ride in Group</td>
                <td>Day of tde Week</td>
                <td>Registration Day</td>
            </tr>
        </tbody>
    </table>

</div>