<div>
    <h1>Bikers</h1>
    <table style="width:100%">
        <thead>
            <tr>
                <th align="left">Full Name</th>
                <th align="left">Email</th>
                <th align="left">City</th>
                <th align="left">Ride in Group</th>
                <th align="left">Day of the Week</th>
                <th align="left">Registration Day</th>
                <th align="left"></th>
            </tr>
        </thead>
        <tbody>
            <tr repeatFor="users" 
                repeatItem="user"
                class="[(__index % 2 ? 'contrast-background' : '')]"
                mouseenter="setIsHovered(true)"
                mouseleave="setIsHovered(false)">
                <td>[(user.fullName)]</td>
                <td>[(user.email)]</td>
                <td>[(user.city)]</td>
                <td>[(user.ridePreferences)]</td>
                <td>[(getNormalizedDaysOfTheWeek(user.daysOfTheWeek))]</td>
                <td>
                    <span>[(user.registrationDate.toLocaleDateString())]</span>
                    <small class="secondary-brand-color">
                        [(user.registrationDate.toLocaleTimeString())]
                    </small>
                </td>
                <td>
                    <a class="right secondary-brand-color">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>            
        </tbody>
    </table>

</div>