<div class="left">
        <card 
            class="space-right"
            repeatFor="pathItems"
            repeatItem="pathItem" 
            fontAwsomeIcon="pathItem.fontAwsomeIcon"
            brandColor="'secondary'"
            title="pathItem.title"
            description="pathItem.description">
        </card>    
    </div>
    <div class="right">
        <card
            fontAwsomeIcon="'recycle'"
            brandColor="'primary'"
            title="'Responsability'"
            description="'Be Green!'">
        </card>
    </div>