<div class="section">
    <h2>User Registration</h2>
    <div class="half-spaced">
        <informative-input label="'Full Name'">
            <input type="text" />
        </informative-input>
        <informative-input label="'Email'">
            <input type="text" />
        </informative-input>
        <informative-input label="'City'">
            <input type="text" />
        </informative-input>
    </div>
    <div class="half-spaced">
        <informative-input label="'Ride in group?'">
            <input type="radio" />
            <span>Always</span>
            <input type="radio" />
            <span>Sometimes</span>
            <input type="radio" />
            <span>Never</span>
        </informative-input>
        <informative-input label="'Days of the week'">
            <input type="checkbox" />
            <span>Sun</span>
            <input type="checkbox" />
            <span>Mon</span>
            <input type="checkbox" />
            <span>Tue</span>
            <input type="checkbox" />
            <span>Wed</span>
            <input type="checkbox" />
            <span>Thu</span>
            <input type="checkbox" />
            <span>Fri</span>
            <input type="checkbox" />
            <span>Sat</span>
        </informative-input>
        <div class="right">
            dfsv
        </div>
    </div>
</div>